$vert: #10a710;
$rouge: #ca2d2d;
$jaune: rgb(247, 247, 118);
$blue: rgba(18, 21, 190, 0.5);
$blanc: rgba(255, 255, 255, 0.883);
$orange: rgb(255, 69, 0);
$noir: rgb(24, 17, 17);
$violet: rgb(99, 26, 99);
$pink: rgb(216, 36, 105);
$skyblue: rgb(36, 159, 216);
$lightgreen: rgb(102, 216, 36);
$grey: rgb(105, 105, 105);
